 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Jon Alligood. I enjoy delving deep into code bases and making things work. Quickly followed by making them work faster.</p>
                    <p>I started out programming nuclear models in Fortran years ago and now I'm moving into the web development space!</p>
                </div>
                <div class="col-lg-4">
                    <p>My skills include: Python, Django, Django REST, Flask, SQL, Postgres, Pandas, JavaScript, AJAX, JQuery, HTML5, CSS3, and Version Control with Git</p>
                    <p>Alongside these skills I enjoy learning languages (Japanese and Russian currently), reading about memory, and learning!</p>
                </div>
            </div>
        </div>
    </section>
