 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a developer living in the heart of the Bull City, Durham, NC. While I am new on the python and web development scene, this isn't my first rodeo. I first learned to program in Fortran building nuclear models.</p>
                </div>
                <div class="col-lg-4">
                    <p>Recently, I've been learning Python, Flask, and Django and having a blast!</p>
                </div>
            </div>
        </div>
    </section>
